{{- $gitEmail := promptStringOnce . "gitEmail" "Email address to use in Git" -}}
{{- $fullName := promptStringOnce . "fullName" "Full name (used in Git for example)" -}}

sourceDir: "{{ .chezmoi.sourceDir }}"
