{{/* ===> ESSENTIALS <=== */}}
neovim
tree
kitty-terminfo
tig


{{/* Rustup can only be automatically installed on Arch Linux */}}
{{ if eq .chezmoi.osRelease.id "arch" }}
  rustup
{{ end }}


{{/* Seems like it's not requried inside Codespaces */}}
{{ if eq .chezmoi.osRelease.id "arch" }}
  openssh-askpass
{{ end }}
