{{/* ===> ESSENTIALS <=== */}}
neovim
tree
tig
ripgrep
fzf
curl
cmake
unzip
wget
nodejs
ranger
npm
pnpm
jq
docker
docker-compose

{{ if eq .packageManager "apt" }}
  kitty-terminfo
  python3-pip
  python3-venv
{{ end }}


{{/* Rustup can only be automatically installed on Arch Linux */}}
{{ if eq .platform "arch" }}
  rustup
{{ else}}
	{{ if eq .packageManager "apt" }}
  cargo
	{{ end }}
{{ end }}

{{/* Should not be required on Ubuntu/MacOS */}}
{{ if eq .platform "arch" }}
  lshw
  x11-ssh-askpass
{{ end }}


{{/* ===> EXTRAS <=== */}}
{{/* These things are not needed or useful for work */}}
{{ if eq .platform "arch" }}
  ledger
{{ end }}

{{/* ===> GUI ONLY <=== */}}
{{/* These are not useful in remote servers/GitHub Codespaces */}}
{{ if eq .platform "arch" }}
  blueberry
feh
lxappearance
gtk-chtheme
arc-solid-gtk-theme
gnome-settings-daemon
dex {{/* autostart for systems that don't have it built in */}}
xsettingsd
gtk-engine-murrine
gnome-themes-extra 
xorg-xsetroot
vlc
httpie
words
noto-fonts
lightdm-webkit2-greeter
lightdm-webkit-theme-litarvan
meld
guvcview
redshift
geoclue
qutebrowser
python-pynvim
ueberzug
perf
jc
openssl-1.1
potrace  {{/* convert PNG to SVG by tracing */}}
imagemagick
gnome-system-monitor
firefox
ipython
piper {{/* support gaming mouses */}}
hsetroot
vulkan-icd-loader
gamescope
nvidia-utils
vulkan-tools
rofi
chromium
arandr
python-pynvim
github-cli
noto-fonts-emoji
xclip
otf-monaspace-nerd
nautilus
pass
xsel
blueman
xorg-xinput
screen
bluez
dunst
pavucontrol
spotify-launcher
man-db
yarn
python-pipx
autorandr
scrot
typescript-language-server
diff-so-fancy
xcape
light-locker
lldb {{/* debugger */}}
ddcutil
flatpak
btop
neovide
core/nss
core/nspr
extra/at-spi2-core
extra/libcups
extra/libdrm
core/dbus
extra/libxcb
extra/libxkbcommon
extra/at-spi2-core
extra/libx11
extra/libxcomposite
extra/libxdamage
extra/libxext
extra/libxfixes
extra/libxrandr
extra/mesa
extra/pango
extra/cairo
extra/alsa-lib
extra/xorg-server-xvfb
webkit2gtk
flite
libwebp
otf-monaspace
ttf-nerd-fonts-symbols-mono
pdfjs
otf-monaspace-nerd
nvidia-settings
task
deepin-screen-recorder
ollama-cuda
ttf-jetbrains-mono
playerctl
nvidia-container-toolkit
otf-atkinson-hyperlegible
libsecret
pandoc
hyprland
wofi
uv
lazygit
browserpass-chromium
browserpass
xdotool
v4l2loopback-dkms
v4l2loopback-utils 
polkit-gnome
polkit
git-lfs
cups
cups-pdf
git-delta
difftastic
cargo-insta
yazi
xorg-xbacklight
noto-fonts-cjk
luarocks
{{ end }}
