[user]
	email = {{ .gitEmail }}
	name = Daniel Kantor
	signingkey = ~/.ssh/id_ed25519.pub
[pull]
	rebase = true
[merge]
	tool = meld
[push]
	default = current
[cola]
	spellcheck = false
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[diff]
    external = difft
[commit]
	gpgsign = true
[core]
	excludesFile = ~/.gitignore
[gpg]
	format = ssh
