{{/* ===> ESSENTIALS <=== */}}
neovim
tree
kitty-terminfo
tig
ripgrep
fzf


{{/* Rustup can only be automatically installed on Arch Linux */}}
{{ if eq .chezmoi.osRelease.id "arch" }}
  rustup
{{ end }}

{{/* Should not be required on Ubuntu/MacOS */}}
{{ if eq .chezmoi.osRelease.id "arch" }}
  x11-ssh-askpass
{{ end }}
